<main
  class="
    bg-gradient-to-t
    from-secundaryColor-100
    to-primaryColor-100
    w-full
    min-h-screen
    flex flex-col
  "
>
  <app-topbar></app-topbar>
  <section
    class="
      w-full
      px-6
      mt-16
      flex flex-col
      lg:flex-row
      items-start
      space-y-4
      lg:space-y-0
      justify-between
    "
  >
    <div class="w-full flex flex-col lg:w-1/2">
      <app-header></app-header>
      <app-tech-level></app-tech-level>
    </div>
    <div class="w-full lg:w-1/2 flex flex-row justify-center">
      <app-my-projects></app-my-projects>
    </div>
  </section>
</main>
